@charset "UTF-8";

body {
   background-color: #333333;
}

#eightBall {
   align-content: center;
   align-items: center;
   text-align: center;
}

#eightBallContent {
   align-content: center;
   align-items: center;
   text-align: center;
}

.header {
   font-weight: 100;
   font-size: 40px;
   color: #ffffff;
}

#content {
   width: 600px;
   margin: 0 auto;
   margin-top: 50px;
   text-align: center;
   font-family: 'Helvetica Neue', arial;
   font-weight: 100;
}

.eightBallOuter {
   background-color: #000000;
   border: 3px solid #000000;
   border-radius: 50%;
   width: 600px;
   height: 600px;
   margin: 0 auto;
   margin-bottom: 30px;
   margin-top: 30px;
}

.eightBallInner {
   border-radius: 50%;
   width: 300px;
   height: 300px;
   margin: 25% auto;
}

.innerInitial {
   background-color: #f1f1f1;
   border: 1px solid #f1f1f1;
}

.innerFinish {
   background-color: #000000;
   border: 1px solid #000000;
}

.eightBallNumber {
   font-size: 150px;
   margin: 75px auto;
   color: #000000;
   font-weight: bold;
   align-items: center;
}

#eightBallAnswer {
   padding: 50px;
   color: #0384fc;
   letter-spacing: 2px;
   font-size: 24px;
}

#askQuestion {
   margin: 20px;
   padding: 10px;
   width: 400px;
   font-size: 22px;
}

.info {
   font-size: 22px;
   color: #ffffff;
}

.button {
   height: 40px;
   width: 150px;
   border-radius: 8px;
   background-color: #4287f5;
   color: #ffffff;
   font-size: 18px;
   padding: 5px;
   margin: 15px;
}

.dialogButton {
   height: 40px;
   width: 350px;
   border-radius: 8px;
   background-color: #4287f5;
   color: #ffffff;
   font-size: 18px;
   padding: 5px;
   margin: 15px;
}

.triangleDown {
   width: 0;
   height: 0;
   border-left: 135px solid transparent;
   border-right: 135px solid transparent;
   border-top: 160px solid #4287f5;
   margin: 0px auto;
   /*  margin: -350px auto; */
   position: relative;
}

.hidden {
   display: none;
}

.ui-dialog {
   background: #FFFFFF;
   border: 2px #000000 solid;
   border-radius:3px;
}

.ui-dialog-titlebar {
   background: #BFBFBF;
   text-align:center;
   padding:.5em;
   font-family: sans-serif;
   font-weight:bold;
   font-size:18px;
}

.ui-dialog-content{
   min-height:50px !important;
   padding:1em 2em;
   font-family: sans-serif;
   font-size:18px;
   color: #000000 !important;
}

.ui-dialog-buttonset {
   display:flex;
   justify-content: center;

}

.ui-dialog-titlebar-close {
   display: none;
}

.ui-widget-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #232323;
   opacity: 0.7;
}

.ui-front {
   z-index: 100;
}