@charset "UTF-8";

body {
   background-color: #ebebeb;
}

#eightBall {
   align-content: center;
   align-items: center;
   text-align: center;
}

#eightBallContent {
   align-content: center;
   align-items: center;
   text-align: center;
   
}

.header {
   font-weight: 100;
   font-size: 40px;
   color: #424242;
}

#content {
   width: 600px;
   margin: 0 auto;
   margin-top: 50px;
   text-align: center;
   font-family: 'Helvetica Neue', arial;
   font-weight: 100;
}

.eightBallOuter {
   background-color: #121212;
   border: 3px solid #111111;
   border-radius: 50%;
   width: 350px;
   height: 350px;
   margin: 0 auto;
   margin-bottom: 30px;
   margin-top: 30px;
}

.eightBallInner {
   border-radius: 50%;
   width: 175px;
   height: 175px;
   margin: 25% auto;
}

.innerInitial {
   background-color: #f1f1f1;
   border: 1px solid #f1f1f1;
}

.innerFinish {
   background-color: #000000;
   border: 1px solid #000000;
}

.eightBallNumber {
   font-size: 75px;
   margin: 35px auto;
   color: #000000;
   font-weight: bold;
   align-items: center;
}

#eightBallAnswer {
   text-align: center;
    top: -154px;
    left: 38px;
    color: #eee5e5;
    letter-spacing: 2px;
    font-size: 18px;
    position: relative;
    width: 93px;
    height: 93px;
    margin: 0px;
    align-items: center;
}

#askQuestion {
   margin: 10px;
   padding: 10px;
   width: 325px;
   font-size: 22px;
}

.info {
   font-size: 22px;
   color: #414141;
}

.button {
   height: 40px;
   width: 130px;
   border-radius: 8px;
   background-color: #4287f5;
   color: #ffffff;
   font-size: 18px;
   padding: 5px;
   margin: 15px;
}

.dialogButton {
   height: 40px;
   width: 350px;
   border-radius: 8px;
   background-color: #4287f5;
   color: #ffffff;
   font-size: 18px;
   padding: 5px;
   margin: 15px;
}

.triangleDown {
   width: 0;
   height: 0;
   border-left: 78px solid transparent;
   border-right: 78px solid transparent;
   border-top: 103px solid #4287f5;
   margin: 30% auto;
}

.hidden {
   display: none;
}

.ui-dialog {
   background: #FFFFFF;
   border: 2px #000000 solid;
   border-radius:3px;
}

.ui-dialog-titlebar {
   background: #BFBFBF;
   text-align:center;
   padding:.5em;
   font-family: sans-serif;
   font-weight:bold;
   font-size:18px;
}

.ui-dialog-content{
   min-height:50px !important;
   padding:1em 2em;
   font-family: sans-serif;
   font-size:18px;
   color: #000000 !important;
}

.ui-dialog-buttonset {
   display:flex;
   justify-content: center;

}

.ui-dialog-titlebar-close {
   display: none;
}

.ui-widget-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #232323;
   opacity: 0.7;
}

.ui-front {
   z-index: 100;
}
